.h-25px {
    height: 25px;
}

.h-50px {
    height: 50px;
}

.h-75px {
    height: 75px;
}

.h-100px {
    height: 100px;
}

.font-size-14 {
    font-size: 14px;
}

.rounded-corners-15 {
    border-radius: 15px;
}

.rounded-corners-30 {
    border-radius: 30px;
}

.rounded-corners-50 {
    border-radius: 50px;
}

.rounded-corners-r-30 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

#search-twitter-input {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.rounded-corners-l-30 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
}

.blue {
    color: rgb(75, 108, 240)
}

.light-font {
    color: rgb(137, 136, 136);
    font-weight: normal;
}

.strong-font {
    font-weight: bold;
}

.spaceship-div {
    position: relative
}

.white-background {
    background-color: white;
}

.spaceship-text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: rgb(215, 214, 214);
    bottom: 10px;
    left: 10px;
}

.gray-border {
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0px;
}






.wd-strong-text-color {
    color: white;
}

.wd-weak-text-color {
    color: lightgray
}

.wd-weakest-text-color {
    color: rgb(110, 118, 125);
}

.wd-small-font-size {
    font-size: 13px;
}

.wd-medium-font-size {
    font-size: 15px;
}

.wd-large-font-size {
    font-size: 20px;
}

.wd-background-color {
    background-color: black;
}

.wd-tuit-font-style {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wd-border {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}